
    Enter mobile number: 
    <input type="text" placeholder="Enter mobile number" [(ngModel)]="trobj.mobile" name="upi"> 
    <br><br>
    
    Enter amount: 
    <input type="text" placeholder="Enter amount" [(ngModel)]="trobj.amount" name="amount"> 
    <br><br>
    
    Select bank: 
    <input type="text" placeholder="Select bank" [(ngModel)]="trobj.bank" name="bank"> 
    <br><br>
    
    Pin: 
    <input type="text" placeholder="Enter Pin" [(ngModel)]="trobj.pin" name="pin">
    <br><br>
    
    <button (click)="SendMoney()">Send</button>

 